@model ProjetoSeriesGuru.Web.Models.FiltrarExerciciosModel

<div id="Exercicios">
    <table>

        @if (Model != null && Model.Exercicios != null && Model.Exercicios.Count > 0)
        {
            <tr>
                <td>Grupamento </td>
                <td>Nome </td>
                <td>Link </td>
                
            </tr>       
      
            foreach (var exercicio in Model.Exercicios)
            {
            <tr>
                <td>@exercicio.Grupamento</td>
                <td>@exercicio.Nome</td>
                <td><a href="@exercicio.Url" title="@exercicio.Titulo">@exercicio.Titulo</a></td>
                @*<td>@exercicio.Url</td>*@
            </tr>
            }
        }
        else
        {   
            <tr>
                <td>Sem resultados</td>
                <td></td>
                <td></td>
            </tr>
        }
    </table>
</div>